html {
  text-align: center;
}
/* 
table, tr, td {
  text-align: center;
  width: 100%
} */

.box {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  height: 30%;
  width: 15%;
  text-align: center;
  background-color: lightblue;
  border-radius: 30%;
  font-size: 30px;
  cursor: pointer;
};

